POSTGRES_DB=canadapulse
POSTGRES_USER=canadapulse
POSTGRES_PASSWORD=canadapulse_local_password
POSTGRES_PORT=55432

CANADAPULSE_ENV=local
CANADAPULSE_LOG_LEVEL=INFO
CANADAPULSE_SERVICE_VERSION=0.1.0
CANADAPULSE_DB_HOST=localhost
CANADAPULSE_DB_PORT=55432
CANADAPULSE_DB_NAME=canadapulse
CANADAPULSE_DB_USER=canadapulse
CANADAPULSE_DB_PASSWORD=canadapulse_local_password
CANADAPULSE_DB_SSLMODE=disable
CANADAPULSE_DB_CONNECT_TIMEOUT_SECONDS=5
